<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My perch</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <h1><%= name %>'s perch</h1>
    <ul>
        <% sightings.forEach(sighting => { %>
        <li>
            <a href="../sighting/<%= sighting._id %>"><%= sighting.species %></a>
        </li>
    <% }) %>
    </ul>


    <h3>Favourites</h3>
    <% if (favourites && favourites.length > 0) { %>
        <ul>
            <% favourites.forEach(favourite => { %>
                <li><%= favourite.species %></li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>No favourites found.</p>
    <% } %>
</body>
</html>