<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My perch</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <h1><%= name %>'s perch</h1>
    <h3>Sightings</h3>
    <ul>
        <% sightings.forEach(sighting => { %>
        <li>
            <a href="../sighting/<%= sighting._id %>"><%= sighting.species %></a>
        </li>
    <% }) %>
    </ul>


    <h3>Favourites</h3>
    <% if (favourites && favourites.length > 0) { %>
        <ul>
            <% favourites.forEach(favourite => { %>
                <li><a href="../sighting/<%= favourite._id %>"><%= favourite.species %></li></a>
                <form action="/community/<%= user._id %>/<%= favourite._id %>/favourites?_method=DELETE" method="POST">
                    <button class="btn" type="submit">Remove favourite</button>
                  </form>
            <% }) %> 
        </ul>
    <% } else { %>
        <p>No favourites found.</p>
    <% } %>
</body>
</html>