<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="/stylesheets/perch.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>My perch</title>
</head>
<body>
    <body onLoad="window.scroll(0, 80)">

    <div id="page-wrapper">
        
    <%- include('../partials/nav.ejs') %>

    <div id="text-wrapper">

    <% if (typeof message !== 'undefined') { %>
        <p style="border: 2px solid rgb(177, 7, 47);"><i><%= message %></p></i>
        <% } %>

    <!-- Tailored heading -->
    <h1><%= name %>'s perch</h1>


    <a href="/community/<%= user._id %>/new-sighting"><button>Add a new sighting</button></a>

    <!-- List of sightings uploaded by the user -->
    <h3 id="sightings">Your sightings</h3>
    <section id="first">
    <div class="box-wrapper" id="usersightings">

        <% sightings.forEach((sighting) => { %>

        <article class="card">
            <a href="/sighting/<%= sighting._id %>"><div class="img-placeholder"><img src="<%= sighting.image %>"></div></a>
                <div class="card-footer">
                    <b><%= sighting.species %></b> <br> Spotted in <%= sighting.location %>
                </div>
        </article>

        <% }) %>
    </div>
</section>
    <!-- Favourites -->
    <h3>Your favourites</h3>
<section id="second">
    <div class="box-wrapper" id="userfavourites">

    <% if (favourites && favourites.length > 0) { %>

            <% favourites.forEach(favourite => { %>

                <article class="card">
                    <a href="/sighting/<%= favourite._id %>"><div class="img-placeholder"><img src="<%= favourite.image %>"></div></a>
                    <div class="card-footer">
                        <b><%= favourite.species %></b> <br> Spotted in <%= favourite.location %> by <%= favourite.publisher.firstname %> <%= favourite.publisher.lastname %>
                        <form action="/community/<%= user._id %>/<%= favourite._id %>/favourites?_method=DELETE" method="POST">
                            <button class="btn" type="submit">Remove favourite</button>
                          </form>
                    </div>

                </article>

            <% }) %> 
   
    <% } else { %>
        <p>No favourites found.</p>
    <% } %>
    </div>
</section>
    </div>
    </div>
    <%- include('../partials/footer') %>
</body>
</html>