<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <title>Range - Community-led migration tracker</title>
</head>
<body>
    <div id="page-wrapper">

    <%- include('./partials/nav.ejs') %>

    <div id="text-wrapper">

    <div class="hero">
    
    </div>
    <h3>Most recent community sightings</h3>
    <div class="box-wrapper">

        <% sightings.forEach((sighting) => { %>

        <article class="card">
            <a href="/sighting/<%= sighting._id %>"><div class="img-placeholder"><img src="<%= sighting.image %>"></div></a>
                <div class="card-footer">
                    <b><%= sighting.species %></b> <br> spotted by <%= sighting.publisher.firstname %> <%= sighting.publisher.lastname %> in <%= sighting.location %>
                </div>
        </article>

        <% }) %>

    </div>
    <h3>Most discussed sightings</h3>
    <div class="box-wrapper">
        <% mostDiscussed.forEach((discussed) => { %>
        <article class="card">
            <a href="/sighting/<%= discussed._id %>"><div class="img-placeholder"><img src="<%= discussed.image %>"></div></a>
                <div class="card-footer">
                    <b><%= discussed.species %></b> <br> spotted by <%= discussed.publisher.firstname %> <%= discussed.publisher.lastname %> in <%= discussed.location %>
                </div>
        </article>
        <% }) %>
    
    </div>
    </div>
</body>
<%- include('./partials/footer') %>
</html>