<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Range - Community-led migration tracker</title>
</head>
<body>
    <body onLoad="window.scroll(0, 80)">

    <div id="page-wrapper">

    <%- include('./partials/nav.ejs') %>

    <div id="text-wrapper">

    <div class="hero">
    <p><span class="title">Journey to the Great Plains of America</span><br>
    Journey to the Great Plains of America Journey to the Great Plains of America Journey to the Great Plains of America Journey to the Great Plains of America Journey to the Great Plains of America Journey to the Great Plains of America Journey to the Great Plains of America Journey to the Great Plains of America Journey to the Great Plains of America Journey to the Great Plains of America Journey to the Great Plains of America.
    </p>
    </div>
    <h3>Most recent community sightings</h3>
    <div class="box-wrapper">

        <% sightings.forEach((sighting) => { %>

        <article class="card">
            <a href="/sighting/<%= sighting._id %>"><div class="img-placeholder"><img src="<%= sighting.image %>"></div></a>
                <div class="card-footer">
                    <b><%= sighting.species %></b> <br> Spotted by <%= sighting.publisher.firstname %> <%= sighting.publisher.lastname %> in <%= sighting.location %>
                </div>
        </article>

        <% }) %>

    </div>
    <h3>Most discussed sightings</h3>
    <div class="box-wrapper" id="lower">
        <% mostDiscussed.forEach((discussed) => { %>
        <article class="card">
            <a href="/sighting/<%= discussed._id %>"><div class="img-placeholder"><img src="<%= discussed.image %>"></div></a>
                <div class="card-footer">
                    <b><%= discussed.species %></b> <br> Spotted by <%= discussed.publisher.firstname %> <%= discussed.publisher.lastname %> in <%= discussed.location %>
                </div>
        </article>
        <% }) %>
    
    </div>
    </div>
    </div>
    <%- include('./partials/footer') %>
</body>
</html>