<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/forms.css" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Edit sighting</title>
</head>
<body>
    <body onLoad="window.scroll(0, 80)">

    <div id="page-wrapper">
    </html><%- include('../partials/nav.ejs') %>

    <div id="text-wrapper">
    <!-- PUT existing sighting form -->
    <form action="/community/<%= user._id %>/<%= foundSighting._id %>?_method=PUT" method="POST">
        <label for="location">Location:*</label>
        <input type="text" name="location" value="<%= foundSighting.location %>" autocomplete="off">
        <label for="date">Date:*</label>
        <input type="text" name="date" value="<%= foundSighting.date %>" autocomplete="off">
        <label for="time">Time:*</label>
        <select type="text" name="time">
            <option value="Early morning" <% if (foundSighting.time === 'Early morning') { %>selected<% } %>>Early morning</option>
            <option value="Mid-morning" <% if (foundSighting.time === 'Mid-morning') { %>selected<% } %>>Mid-morning</option>
            <option value="Early afternoon" <% if (foundSighting.time === 'Early afternoon') { %>selected<% } %>>Early afternoon</option>
            <option value="Late afternoon" <% if (foundSighting.time === 'Late afternoon') { %>selected<% } %>>Late afternoon</option>
            <option value="Evening" <% if (foundSighting.time === 'Evening') { %>selected<% } %>>Evening</option>
            <option value="Night" <% if (foundSighting.time === 'Night') { %>selected<% } %>>Night</option>
        </select>        
        <label for="species">Species:*</label>
        <input type="text" name="species" value="<%= foundSighting.species %>" autocomplete="off">
        <label for="subspecies">Subspecies <i>(optional)</i>:</label>
        <input type="text" name="subspecies" value="<%= foundSighting.subspecies %>" autocomplete="off">
        <span id="rare"><label for="rare">Rare:</label>
        <input type="checkbox" name="rare" <% if (foundSighting.rare) { %>checked<% } %> value="true"></span>
        <label for="image">Image:*</label>
        <input type="text" name="image" value="<%= foundSighting.image %>" autocomplete="off">
        <label for="description">Description <i>(optional)</i>:</label>
        <input type="text" name="description" id="description" value="<%= foundSighting.description %>"autocomplete="off">

        <button type="submit">Edit sighting</button>   
        <br>
        <p style="color:rgb(130, 23, 23);">* Required field</p>
    </form>
    </div>
</div>
<%- include('../partials/footer') %>
</body>
</html>