<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <title>Edit sighting</title>
</head>
<body>
    </html><%- include('../partials/nav.ejs') %>

    <!-- PUT existing sighting form -->
    <form action="/community/<%= user._id %>/<%= foundSighting._id %>?_method=PUT" method="POST">
        <label for="location">Location:</label>
        <input type="text" name="location" value="<%= foundSighting.location %>" autocomplete="off">
        <label for="date">Date:</label>
        <input type="text" name="date" value="<%= foundSighting.date %>" autocomplete="off">
        <label for="time">Time:</label>
        <select type="text" name="time">
            <option value="Early morning" <% if (foundSighting.time === 'Early morning') { %>selected<% } %>>Early morning</option>
            <option value="Mid-morning" <% if (foundSighting.time === 'Mid-morning') { %>selected<% } %>>Mid-morning</option>
            <option value="Early afternoon" <% if (foundSighting.time === 'Early afternoon') { %>selected<% } %>>Early afternoon</option>
            <option value="Late afternoon" <% if (foundSighting.time === 'Late afternoon') { %>selected<% } %>>Late afternoon</option>
            <option value="Evening" <% if (foundSighting.time === 'Evening') { %>selected<% } %>>Evening</option>
            <option value="Night" <% if (foundSighting.time === 'Night') { %>selected<% } %>>Night</option>
        </select>        
        <label for="species">Species:</label>
        <input type="text" name="species" value="<%= foundSighting.species %>" autocomplete="off">
        <label for="subspecies">Subspecies <i>(optional)</i>:</label>
        <input type="text" name="subspecies" value="<%= foundSighting.subspecies %>" autocomplete="off">
        <label for="rare">Rare:</label>
        <input type="checkbox" name="rare" <% if (foundSighting.rare) { %>checked<% } %> value="true">
        <input type="hidden" name="rare" value="false" <% if (!foundSighting.rare) { %>disabled<% } %>>
        <label for="image">Image:</label>
        <input type="text" name="image" value="<%= foundSighting.image %>" autocomplete="off">
        <label for="description">Description <i>(optional)</i>:</label>
        <input type="text" name="description" value="<%= foundSighting.description %>"autocomplete="off">

        <button type="submit">Edit sighting</button>   
        
    </form>
</body>
</html>