<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <title>Add a new sighting</title>
</head>
<body>
    </html><%- include('../partials/nav.ejs') %>

    <!-- Validation error messages -->
    <% if (typeof valErrorMessages !== 'undefined' && valErrorMessages && valErrorMessages.length > 0) { %>
        <p style="background-color:rgb(255, 148, 71);">Form validation error:<br> 
            <ul>
            <% valErrorMessages.forEach((err) => { %>
            <li><%= err %></li>
            <% }); %>
            </ul>
        </p>
      <% } %>

      <!-- System error messages -->
      <% if (typeof systemErrorMessage !== 'undefined') { %>
        <p style="background-color:Tomato;">Unexpected system error. Please see more details below:<br>
        <ul>
          <li><%= systemErrorMessage %></p></li>
        </ul>
      </p>
      <% } %>

    <!-- POST new sighting form -->
    <form action="/feed" method="POST">
        <label for="location">Location:</label>
        <input type="text" name="location" value="<%= typeof formData !== 'undefined' ? formData.location : '' %>"  autocomplete="off">
        <label for="date">Date:</label>
        <input type="text" name="date" value="<%= date %>" autocomplete="off">
        <label for="time">Time:</label>
        <select type="text" name="time">
            <option value="Early morning">Early morning</option>
            <option value="Mid-morning<">Mid-morning</option>
            <option value="Early afternoon">Early afternoon</option>
            <option value="Late afternoon">Late afternoon</option>
            <option value="Evening">Evening</option>
            <option value="Night">Night</option>
        </select>        
        <label for="species">Species:</label>
        <input type="text" name="species" value="<%= typeof formData !== 'undefined' ? formData.species : '' %>" autocomplete="off">
        <label for="subspecies">Subspecies <i>(optional)</i>:</label>
        <input type="text" name="subspecies" value="<%= typeof formData !== 'undefined' ? formData.subspecies : '' %>" autocomplete="off">
        <label for="rare">Rare:</label>
        <input type="checkbox" name="rare" value="true" autocomplete="off">
        <label for="image">Image:</label>
        <input type="text" name="image" value="<%= typeof formData !== 'undefined' ? formData.image : '' %>" autocomplete="off">
        <label for="description">Description <i>(optional)</i>:</label>
        <input type="text" name="description" value="<%= typeof formData !== 'undefined' ? formData.description : '' %>"  autocomplete="off">

        <button type="submit">Add sighting to migration feed</button>
    </form>
</body>
</html>






