<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= sighting.species %></title>
</head>
<body>
    </html><%- include('../partials/nav.ejs') %>
    <img src="<%= sighting.image %>" alt="<%= sighting.species %>" width="400">
    <h1><%= sighting.species %></h1>
    <h2><%= sighting.location %>, <%= sighting.time %> <%= sighting.timezone %></h2>
    <form action="/community/<%= user._id %>/<%= sighting._id %>/favourites" method="POST">
        <button class="btn" type="submit">Add to favourites</button>
        <br><p>To be conditionally rendered if user is publisher:</p>
    <button class="btn"><a href="/community/<%= user._id %>/<%= sighting._id %>/edit">Edit details</a></button>
    <form action="/community/<%= user._id %>/<%= sighting._id %>?_method=DELETE" method="POST">
        <button class="btn" type="submit">Remove sighting</button>
      </form>
    <h3>Comments</h3>
    <form action="/community/<%= user._id %>/<%= sighting._id %>" method="POST">
        <label for="text">Your comment:</label>
        <textarea type="text" name="text" id="text"></textarea>

        <button type="submit">Add comment</button>
        <br>
        <% if (comments) { %>
            <% comments.forEach((comment) => { %>
                <b><%= comment.commenter %></b><br>
                <%= comment.text %>
                <br>
           <% }) %>
           <% } %>
</body>
</html>