<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/show.css" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title><%= sighting.species %></title>
</head>
    <body onLoad="window.scroll(0, 80)">

    <div id="page-wrapper">
    </html><%- include('../partials/nav.ejs') %>

    <div id="text-wrapper">

    <% if (typeof message !== 'undefined') { %>
        <p style="background-color:rgb(71, 255, 129);"><%= message %></p>
        <% } %>

    <div class="card">

    <div class="img-placeholder">
        <% if (sighting.rare === true) { %>
        <p id="rare">Rare</p>
        <% } %>
        <img src="<%= sighting.image %>" alt="<%= sighting.species %>">
    </div>
     
    <div class="controls">
        <% if (currentUser === publisher) { %>
        <button id="control-btn"><a href="/community/<%= user._id %>/<%= sighting._id %>/edit">Edit details</a></button>
    
        <form action="/community/<%= user._id %>/<%= sighting._id %>?_method=DELETE" method="POST">
            <button type="submit" id="control-btn">Remove</button>
        </form>
        <% } else { %>

        <form action="/community/<%= user._id %>/<%= sighting._id %>/favourites" method="POST">
            <button type="submit" id="control-btn">Add to favourites</button>
        </form>
        <% } %>
    </div>

    <div class="showbody">
        <h1><%= sighting.species %></h1>
        <p style="color:rgb(227, 168, 19);">Contributor: <%= sighting.publisher.firstname %> <%= sighting.publisher.lastname %> <BR>
            Spotted in <%= sighting.location %>, <%= sighting.date %>, <%= sighting.time %></p>
        
        <p><%= sighting.description %></p>
    </div>
    <button onclick="window.history.back()">Go Back</button>
</div>
</div>
<section id="discussion">
    <br>
    <br>

    <div id="header"><h3>Join the conversation</h3></div>

    Your comment:
    <BR>

    <BR>
    <form id="commentform" action="/community/<%= user._id %>/<%= sighting._id %>" method="POST">
        <textarea class="comment-box" type="text" name="text" id="text"></textarea>
        <br>
        <button type="submit">Post</button>
    </form>
    <BR>
    <BR>
    <div class="displaycomments">

        <% if (comments) { %>
            <% comments.forEach((comment) => { %>
                <div id="comment">
                <span id="commenter"><%= comment.commenter %>, <%= comment.createdAt %></span>
                <br>
                <br>
                <%= comment.text %>
                <br>
                <br>
                <br>
            </div>
           <% }) %>
           <% } %>
        </div>
    </div>
 </section>
</div>
</div>
    <%- include('../partials/footer') %>
</body>
</html>