<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= sighting.species %></title>
</head>
<body>
    <img src="<%= sighting.image %>" alt="<%= sighting.species %>" width="400">
    <h1><%= sighting.species %></h1>
    <h2><%= sighting.location %>, <%= sighting.time %> <%= sighting.timezone %></h2>
</body>
</html>