<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="/stylesheets/feed.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Migration feed</title>
</head>
<body>
    <body onLoad="window.scroll(0, 80)">

    <div id="page-wrapper">
    <%- include('../partials/nav.ejs') %>
    <div id="text-wrapper">
        <div id="feed">
            <span id="header">
            <h1>Live migration feed</h1>
            <img id="live" src="https://i.ibb.co/QNFbgnG/Untitled-design.gif">
        </span>
        <% sightings.forEach(sighting => { %>
            <article class="card">
                <div class="dateline">&nbsp; &nbsp; <b><%= sighting.publisher.firstname %> <%= sighting.publisher.lastname %></b>, <%= sighting.createdAt %></div> 
                <div class="post-detail">
                <div class="img-placeholder" aria-label="<%= sighting.species %> image">
                    <a href="/sighting/<%= sighting._id %>">
                        <% if (sighting.rare === true) { %>
                            <p id="rare">Rare</p>
                            <% } %>
                        <img src="<%= sighting.image %>">
                    </a>
                </div>
                <div class="information">
                    <h2><a href="/sighting/<%= sighting._id %>"><%= sighting.species %></a></h2>
                    <b>Location:</b> <%= sighting.location %> <br>
                    <br>
                    <b>Date sighted:</b> <%= sighting.date %><br>
                    <br>
                    <b>Time sighted:</b> <%= sighting.time %>                    
                </div>
                </div>
            </article>
        <% }) %>
        </div>
        <section class="column">
        Latest articles:
        <div id="banner1"><p>New insights into flypaths over the UK</p></div>
        <div id="banner2"><p>Podcast: Watching dusk arrivals in the Caribbean</p></div>
        <div id="banner3"><p>Revisiting Canada's winter residents</p></div>
        </section>
    </div>
    </div>
    <%- include('../partials/footer') %>
</body>
</html>