<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="/stylesheets/feed.css" />
    <title>Migration feed</title>
</head>
<body>
    <body onLoad="window.scroll(0, 80)">

    <div id="page-wrapper">
    <%- include('../partials/nav.ejs') %>
    <div id="text-wrapper">
        <div id="feed">

        <% sightings.forEach(sighting => { %>
            <article class="card">
                <div class="dateline">&nbsp; &nbsp; <b><%= sighting.publisher.firstname %> <%= sighting.publisher.lastname %></b>, <%= sighting.createdAt %></div> 
                <div class="post-detail">
                <div class="img-placeholder">
                    <a href="/sighting/<%= sighting._id %>">
                        <img src="<%= sighting.image %>">
                    </a>
                </div>
                <div class="information">
                    <h2><a href="/sighting/<%= sighting._id %>"><%= sighting.species %></a></h2>
                    <b>Location:</b> <%= sighting.location %> <br>
                    <br>
                    <b>Date sighted:</b> <%= sighting.date %><br>
                    <br>
                    <b>Time sighted:</b> <%= sighting.time %>                    
                </div>
                </div>
            </article>
        <% }) %>
        </div>
        <section class="column">
        <div id="banner1"></div>
        <div id="banner2"></div>
        <div id="banner3"></div>
        </section>
    </div>
    </div>
    <%- include('../partials/footer') %>
</body>
</html>