<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <title>Migration feed</title>
</head>
<body>
    <div id="page-wrapper">
    <%- include('../partials/nav.ejs') %>
    <div id="text-wrapper">
    <ul>
        <% sightings.forEach(sighting => { %>
        <li>
            <a href="/sighting/<%= sighting._id %>"><%= sighting.species %></a>
            <% if (sighting.publisher && sighting.publisher.firstname && sighting.publisher.lastname) { %>
                <i>posted by <%= sighting.publisher.firstname %> <%= sighting.publisher.lastname %></i>
            <% } else if (sighting.publisher) { %>
                <i>posted by Anonymous</i>
                <% } %>
        </li>
    <% }) %>
    </ul>
    </div>
    </div>
    <%- include('../partials/footer') %>
</body>
</html>